@charset "UTF-8";
/* responsividade falha*/
@media screen and (max-width: 830px) {
    #dandroids{
        display: flex;
        justify-content: center;
    }
    
    #irina{
        display: block;
        width: auto;
        margin: auto;
    }

    footer{
        margin-top: 0px;
    }
}

@media screen and (max-width: 525px) {
header{
    margin: auto;
    width: 412px;

}    
header>p{
    font-size: 12px;
}

nav {
    text-align: center;
    height: 35px;
    display: inline-block;
    padding-bottom: 10px;
}
main{
    width: 412px;
}
h2{
    text-align: center;
}

aside > ul{
    padding: 5px;
}
#bugdroid{
    display: block;
    width: auto;
    margin: auto;
}
footer{
    width: 412px;
    margin-top: 0px;
}
footer>nav>a{
    margin: auto;
}
}
