@charset "UTF-8";

@media screen and (max-width: 830px) {
    #dandroids{
        display: flex;
        justify-content: center;
    }
    
    #irina{
        display: block;
        width: auto;
        margin: auto;
    }
}

@media screen and (max-width: 525px) {
nav {
    
    text-align: center;
    padding-bottom: 0px;
    box-sizing: content-box;
    height: 35px;

}
nav > a{
    display: inline-block;
}

h2{
    text-align: center;
}

#bugdroid{
    display: block;
    width: auto;
    margin: auto;

}
}